@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}

/* --- Reset & Basics --- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--very-dark-blue);
  font-size: 15px;
  background-color: var(--off-white);
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  font-weight: 800;
  margin-top: 0;
}

.primary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  width: 90%;
  margin: 0 auto;
}

.mobile-nav-toggle {
  background: transparent;
  border: none;
  cursor: pointer;
}

.mobile-nav-toggle:focus {
  outline: none;
}

.icon-hamburger {
  width: 3.5rem;
}

.icon-close {
  display: none;
}

.grid-container {
  margin: 0 auto;
  width: 90%;
  display: grid;
  gap: 1rem;
}

.grid-container .main-heading h1 {
  font-size: 2.8rem;
  line-height: 1.1;
}

.main-description p {
  line-height: 1.8;
  color: var(--dark-grayish-blue);
}

.main-description .read-btn {
  color: var(--very-dark-blue);
  background: var(--soft-red);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 800;
  border: none;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  margin-top: 1.5rem;
}
