@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}

/* --- Reset & Basics --- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--very-dark-blue);
  font-size: 15px;
  background-color: var(--off-white);
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  font-weight: 800;
  margin-top: 0;
}

/* ---------------- HEADER STYLES ---------------- */
.primary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  width: 90%;
  margin: 0 auto;
}

.mobile-nav-toggle {
  background: transparent;
  border: none;
  cursor: pointer;
}

.mobile-nav-toggle:focus {
  outline: none;
}

.icon-hamburger {
  width: 3.5rem;
}

.icon-close {
  display: none;
}

/* -------------- MOBILE NAVIGATION STYLES ------------ */
.primary-navigation {
  position: fixed;
  inset: 0 0 0 30%;
  z-index: 999;
  background-color: var(--off-white);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.primary-navigation ul {
  list-style: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2rem;
  padding: 2rem;
}

.primary-navigation a {
  text-decoration: none;
  color: var(--very-dark-blue);
  font-weight: 700;
  font-size: 1.2rem;
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 500;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

nav.primary-navigation.opened {
  transform: translateX(0) !important;
}

.overlay.active {
  opacity: 1;
  pointer-events: auto;
}

.mobile-nav-toggle {
  z-index: 1000;
  position: relative;
}

.mobile-nav-toggle[aria-expanded='true'] .icon-hamburger {
  display: none;
}

.mobile-nav-toggle[aria-expanded='true'] .icon-close {
  display: block;
}

/* -------------- MAIN GRID STYLES -------------- */
.grid-container {
  margin: 0 auto;
  width: 90%;
  display: grid;
  gap: 1rem;
}

.grid-container .main-heading h1 {
  font-size: 2.8rem;
  line-height: 1.1;
}

.main-description p {
  line-height: 1.8;
  color: var(--dark-grayish-blue);
}

.main-description .read-btn {
  color: var(--very-dark-blue);
  background: var(--soft-red);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 800;
  border: none;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  margin-top: 1.5rem;
}

/* ------------- ASIDE STYLES ------------- */
.new-sidebar {
  margin: 3rem 0;
  background-color: var(--very-dark-blue);
  padding: 2rem 1.6rem;
  color: var(--off-white);
}

.new-sidebar h1 {
  color: var(--soft-orange);
  font-size: 2.4rem;
  letter-spacing: 2px;
  margin-bottom: 2rem;
}

.new-article:not(:last-of-type) {
  border-bottom: 1px solid var(--grayish-blue);
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.new-article p {
  color: var(--grayish-blue);
  padding: 1rem 0 0 0;
  line-height: 1.7;
}

.bottom-featured {
  width: 90%;
  margin: 4rem auto;
}

.article-card {
  display: flex;
  gap: 2rem;
  margin-bottom: 3rem;
}

span {
  color: var(--soft-red);
  font-size: 2.8rem;
  font-weight: 800;
  letter-spacing: 2px;
}

h4 {
  font-size: 1.35rem;
  margin: 1.5rem 0;
}

.article-card p {
  color: var(--dark-grayish-blue);
  line-height: 1.6;
  font-size: 1rem;
}

/* ----------------- MEDIA QUERIES ---------------- */
